# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__
*.py[cod]
*$py.class

__init__.py
Makefile
pp.dep
built
**/Opt*-*
*.o
*.log
*.bak

# MSBuild related files
*.sln
*.vcxproj
**/x64
**/Win32

# Mac OS
*.DS_Store

# Database
*.json
*.yaml
*.yml
*.toml
databases/